*{
	box-sizing: border-box;
	padding: 0px; 
	margin: 0px;
	font-family:verdana,sans-serif;
}

.pt-10{
	padding-top: 10rem;
}

.title{
	font-size: 5rem;
	color: rgba(24, 48, 104, 0.925);
	
}

#name-link{
	color:rgb(59, 98, 143);
}

.large-menu{
	font-size: 1.2rem;
}

.reg-btn{
	font-size: 1.3rem;
	padding: 1rem 3rem 1rem 3rem;
	margin-bottom: 10rem;
}

[class*=line]{
	background-color: rgb(35, 108, 168);
	height: 3px;
	width: 20px;
	border-radius: 1px;
	transition: all 300ms ease;
	transition-delay: 50ms;
	transform-origin: 0px;
}

.line1{
	transition: all 300ms ease;
	transition-delay: 50ms;
	transform-origin: 0px;
}

.hamb-menu{
	position: fixed;
	z-index: 2;
}


.checkboxx{
	position: fixed;
	z-index: 3;
	opacity: 0;
	pointer-events: none;
	
	width: 42px;
	height: 25px;
	top: 18px;
	left: 15px;
	border: none;
	cursor: pointer;
}

.checkboxx:checked + .hamb-menu >.line1{
	transform: rotate3d(0, 0, 1, 45deg);
	
}

.checkboxx:checked + .hamb-menu >.line2{
	opacity: 0;
	
}

.checkboxx:checked + .hamb-menu >.line3{
	transform: rotate3d(0, 0, 1, -45deg);
	
}

@media (max-width: 767px)
{
	.large-menu{
		/* visibility: hidden; */
		display: none;
	}

	.checkboxx{
		pointer-events: auto;
	}

	
	
}

.features{
	
	max-width:20rem;
	min-height: 15rem;
}

.section-about{
	/* max-width:30rem; */
	margin: auto;
	text-align: justify;
  	text-justify: inter-word;
}


.about{
	max-width: 55rem;
}

#about-head{
	font-size: 0.8rem;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }

  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }

  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 50px;}
	.sidenav a {font-size: 18px;}
  }

  .checkboxx:checked ~ .sidenav{
	width: 250px;
	
}

#main-page-img{
	max-width: 100%;
  height: auto;

}

/* REGISTRATION */
.sub-text{
	letter-spacing: 0.2rem;
	color:rgb(20, 83, 165);
	font-size: 1.2rem;
}

.main-text{
	color:rgb(20, 83, 165);
}

.reg-menu{
	font-size: 1.3rem;
}

.form-control{
	border-color:rgba(20, 194, 64, 0);
}

#login-img{
	max-width: 100%;
	height: auto;
}

/* MENU */

.menu-ic{
	text-decoration: none;
	background-color: rgb(3, 179, 3);
	color: white;
	transition: all 300ms ease;
}


.menu-ic:hover{

	background-color: rgb(1, 158, 1);
	-webkit-box-shadow: 0px 0px 14px -1px #616161; 
	box-shadow: 0px 0px 14px -1px #616161;
}


.log-out{
	text-decoration: none;
	color: black
}
.log-out-btn{

	color: black;
	transition: all 300ms ease;
	background-color:rgb(240, 240, 240);
}

.log-out-btn:hover{
	background-color: rgb(230, 228, 228);
	box-shadow: 0px 0px 14px -1px #616161;
}

.icon{
font-family: fontello, verdana;
font-size: 1rem;
}

@media screen and (min-width: 768px){

.icon::after{
	content:"User name"
}
}

/* ADD INCOME */
.background{
	background: rgb(117,247,246);
	background: linear-gradient(162deg, rgba(117,247,246,1) 0%, rgba(40,170,196,1) 44%, rgba(60,236,199,1) 69%, rgba(42,208,52,1) 99%); 
	background-attachment: fixed;
}

.add-Income-Form-Input
{
	width:260px;
	background-color:#efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	margin-top: 20px;
	outline: none;
	box-sizing: border-box;
	font-size: 1rem;
	height: 45px;
	
}

.radio-input
{
	/* position: relative; */
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
	-o-appearance: none;
	height: 15px;
	width: 15px;
	border: none;
	color: #fff;
	background: #cbd1d8;
	margin-right: 20px;
	 border-radius:50%;
	 border: none;
	 outline: none;
	 cursor: pointer;
}

.radio-input:checked
{
	 background: #47c221;
}

.radio-span:hover
{
	cursor: pointer;
	text-decoration: underline;
}

#comment
{
	width: 50%;
	resize: none;
	border-radius: 10px;
	padding:10px;
	outline: none;
	border: none;
}


#menu-left{
	background: rgba(255, 255, 255, 0.363);
	max-width: 1000px;
	border-radius:10px;
	-webkit-box-shadow: 8px 10px 20px 2px rgba(0,0,0,0.37); 
	box-shadow: 8px 10px 20px 2px rgba(0,0,0,0.37);
	
}

.submit-button{
	width: 250px;
	margin-top:20px;
	font-size: 2rem;
	background-color: #36b03c; 
	color: white;
	border-radius: 5px;
	padding: 10px;
	border: none;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
	transition:  box-shadow, -webkit-box-shadow .3s, background-color .7s;
}

.submit-button:hover{
	background-color: #36973b;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.55); 
box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.55);
}

.cancel-button
{
	width: 250px;
	
	margin-top:20px;
	font-size: 1rem;
	background-color: #e40f56;
	color: white;
	border-radius: 5px;
	padding: 10px;
	border: none;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
	transition:  box-shadow, -webkit-box-shadow .3s, background-color .7s;
}

.exit-link{
	text-decoration: none;
}

.cancel-button:hover{
	background-color: #b40d45;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.55); 
box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.55);
}

/* showBalance */

#form_container
{
	width:340px;
	height:160px;
	background-color:#e6e6e6;
	margin-top: 50px;
	padding:20px;
	border-radius: 10px;
	transition: 0.5s;
	
}

#select-date
{
	display: block;
	overflow: hidden;
	display: none;
	/* border: solid 2px #cccccc; */
	margin-top: 20px;
	padding: 10px;
	box-sizing:border-box;
	border-radius: 5px;
}

.showBalance
{
	
	width:200px;
	background-color:#efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	margin: 10px 20px 10px;
	outline: none;
	box-sizing: border-box;
	font-size: 14px;
	/* display: none; */
 
}

#show-bal
{
	/* position: relative; */
	width: 250px;
	margin-top:20px;
	font-size: 1rem;
	background-color: #36b03c; 
	color: white;
	border-radius: 5px;
	padding: 10px;
	border: none;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
	transition:  position, box-shadow, -webkit-box-shadow .3s, background-color .7s;
	/* transition: all 0.5; */
	
}


#show-bal:hover{
	background-color: #36973b;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.55); 
box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.55);
}


#menu-balance{
	background: rgba(255, 255, 255, 0.5);
	border-radius:10px;
	-webkit-box-shadow: 8px 10px 20px 2px rgba(0,0,0,0.37); 
	box-shadow: 8px 10px 20px 2px rgba(0,0,0,0.37);
}


input{
	font-family: fontello, verdana, sans-serif;
	
}

.shortcut{
	color: rgb(24, 130, 138);
}

.active-shortcut{
	color: rgb(12, 78, 78);
	pointer-events: none;
	cursor:default;
}

.shortcut:hover{
	color: rgb(22, 113, 119);
}

