
.icon-money:before { content: '\e800'; } /* '' */
.icon-dollar:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-wrench:before { content: '\e806'; } /* '' */
.icon-chart-bar:before { content: '\e807'; } /* '' */
.icon-ok:before { content: '\e808'; } /* '' */
.icon-lock:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-money-1:before { content: '\f0d6'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-search-1:before { content: '\f50d'; } /* '' */